.container {
    width: 430px;
    height: 650px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}

.top-bar input {
    display: flex;
    width: 264px;
    height: 50px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image {
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 70px;
    font-weight: 400;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.data-container {
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.data {
    font-size: 30px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-top: 10px;
}